<!DOCTYPE html>
<html lang="en">
<head>
  <title>What is my latitude &amp; longitude?</title>
  <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%= asset_path('application.css') %>">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
</head>
<body>


  <header>
    <div class="container">
      <h1>What is my latitude &amp; longitude?</h1>
      <div id="search">
        <input id="search_field" placeholder="Start typing your address here..."/>                    
        
        <div id="tips">
          <p>Drag the marker to refine the address</p>
        </div>
        
        <div id="results">
          <ul id="results_items"></ul>
        </div>
      </div>
    </div>
  </header>


  <section id="map"></section>

  <div id="location-details">
    <div class="container clearfix">
      <div class="left">
        <table>
          <tr>
            <th>Address:</th>
            <td id="address"></td>
          </tr>
          <tr>
            <th>Latitude:</th>
            <td id="lat"></td>
          </tr>
          <tr>
            <th>Longitude:</th>
            <td id="lng"></td>
          </tr>
        </table>          
      </div>
      
      <div class="right">
        <label>Link to this address</label>
        <input id="link" readonly />
      </div>
    </div>
  </div>

  <a href="http://github.com/caseyohara/latlng.me"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="<%= asset_path('application.js') %>"></script>
</body>
</html>