@import "lib/reset";
@import "lib/mixins";
@import "lib/utils";
@import "lib/fonts";


.left { float: left; }
.right { float: right; }


html {
  width: 100%; height: 100%;
  position: relative;
}

body {
  position: relative;
  min-width: 100%; min-height: 100%;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: #777;
  background: transparent url('http://subtlepatterns.com/patterns/gridme.png') top center fixed repeat;  
}


label {
  display: block;
  margin-bottom: 5px;
}

input {
  display: block;
  font-size: 14px;
  line-height: 1;
  padding: 5px;
  background: #f5f5f5;
  font-family: inherit;
  @include border-radius(4px);
  @include box-shadow(inset 0 2px 2px rgba(0,0,0,0.25));
}


header {
  @include gradient(rgba(0,20,20,0.8), rgba(0,20,20,0.9));
  border-top: 2px solid rgba(0,20,20,1);
  padding: 20px 0 10px;
  position: relative;  
}

h1, h2 {
  color: #fff;
  font-family: 'Bad Script', cursive;
  text-shadow: 2px 2px 1px rgba(0,0,0,1);
  text-align: center;
}


h1 {
  font-size: 28px;
  margin-bottom: 20px;  
}

h2 {
  color: #000;
}

.container {
  width: 768px;
  margin: auto;
  position: relative;
}

#search {
  padding: 0 0 20px;
  
  input {
    width: 722px;
    font-size: 20px;
    padding: 12px 18px;    
    border: 5px solid rgba(0,0,0,0.15);
  }
}

#tips {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0; right: 0;
  background: rgba(0,20,20,0.9);
  margin-top: 10px;
  padding: 0 0 20px;
  text-align: center;
  @include custom-border-radius(0,4px,4px,0);
  @include box-shadow(0 5px 10px rgba(0,0,0,0.5));
}

#results {
  background: rgba(0,20,20,0.9);
  position: absolute;
  top: 100%; 
  z-index: 9999;
  margin-top: 10px;
  left: -20px; right: -20px;
  @include custom-border-radius(0,4px,4px,0);
  @include box-shadow(0 5px 10px rgba(0,0,0,0.5));
}

#results ul {
  display: block;
  position: relative;
  top: -20px;
  margin: 0 20px;
  @include border-radius(2px);
  @include box-shadow(inset 0 2px 2px rgba(0,0,0,0.25));
  @include gradient(#f5f5f5,#fff);
  
  li {
    display: block;
    border-bottom: 2px solid #eee;
    &:last-child {
      border-bottom: none;
    }
    
    a {
      display: block;
      position: relative;
      padding: 16px 19px;
      font-size: 16px;
      text-decoration: none;
      color: #858585;
      
      i {
        display: block;
        position: absolute;
        font-family: 'Pictos';
        font-style: normal;
        top: 12px; right: 14px;
        padding: 4px 10px 3px 11px;
        @include border-radius(100px);
        border: 2px solid #ddd;
      }
      
      
      &:hover {
        color: #000;
        background: #f5f5f5;
        i {
          border-color: #444;
        }
      }

      &:active {
        background: #e5e5e5;
      }
    }
  }
}


#location-details {
  display: none;
  position: fixed;
  bottom: 0; 
  left: 0; right: 0;
  font-size: 16px;

  > .container {
    background: rgba(0,20,20,0.9);
    padding: 10px 20px;    
    @include custom-border-radius(4px,0,0,3px);
  }
}

#location-details table {
  color: #fff;
  @include shadow();
  
  td, th {
    padding: 2px 10px 2px 0;
  }

  th {
    text-align: right;
    color: rgba(255,255,255,0.7);
  }
  
  td {
    font-weight: bold;
  }
}


#location-details .right {
  label {  padding-top: 5px; }
  input { width: 220px;}  
} 


#map {
  position: absolute;
  top: 188px; 
  right: 0;
  left: 0;
  bottom: 0;
}


// .ui-autocomplete { display:none !important; }




